[project]
name = "coordinator"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "asyncio>=4.0.0",
    "dataclasses>=0.8",
    "numpy>=2.2.6",
]
